<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>MosquitoReportAPI</title>
    <link rel="stylesheet" media="all" href="style.css" inline>
  </head>
  <body>
    <div class="main-description">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>MosquitoReportAPI</h1>
            <p>This API exposes endpoints to search and report areas where mosquitoes could spread. Areas of stagnant water, such as flower vases, uncovered barrels, buckets, and discarded tires, can be reported. The main goal is to support the combat against diseases like <a href="https://en.wikipedia.org/wiki/Dengue_fever">Dengue</a>, <a href="https://en.wikipedia.org/wiki/Zika_fever">Zika</a> and <a href="https://en.wikipedia.org/wiki/Chikungunya">Chikungunya</a>.</p>
            <iframe src="https://ghbtns.com/github-btn.html?user=coding4people&repo=mosquito-report-api&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          </div>
          <div class="col-md-6 hidden-xs">
            <div class="terminal">
              <div class="terminal-bar">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <pre class="terminal-window">$ curl https://api.mosquito.report/stats
{
  "reports": {
    "week": 0,
    "month": 0,
    "ever": 0
  }
}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-4 index">
            <nav>
              <ol>
                <li>
                  <a href="#Overview">Overview</a>
                  <ol>
                    <li><a href="#Authentication">Authentication</a></li>
                    <li><a href="#Validation">Validation</a></li>
                    <li><a href="#Errors">Errors</a></li>
                  </ol>
                </li>
                <%= menu %>
                <li>
                  <a href="#About">About</a>
                  <ol>
                    <li><a href="#Authors">Authors</a></li>
                    <li><a href="#Clients">Clients</a></li>
                    <li><a href="#License">License</a></li>
                  </ol>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-8 groups">
            <ol>
              <li>
                <h2 id="Overview">Overview</h2>
                <ol>
                  <li>
                    <h3 id="Authentication">Authentication</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis fringilla magna, sed varius eros laoreet non. Donec non libero vehicula, sagittis metus eget, congue lectus. Aliquam erat volutpat. Nunc ex massa, placerat nec enim vel, mattis tincidunt eros.</p>
                  </li>
                  <li>
                    <h3 id="Validation">Validation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis fringilla magna, sed varius eros laoreet non. Donec non libero vehicula, sagittis metus eget, congue lectus. Aliquam erat volutpat. Nunc ex massa, placerat nec enim vel, mattis tincidunt eros.</p>
                  </li>
                  <li>
                    <h3 id="Errors">Errors</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis fringilla magna, sed varius eros laoreet non. Donec non libero vehicula, sagittis metus eget, congue lectus. Aliquam erat volutpat. Nunc ex massa, placerat nec enim vel, mattis tincidunt eros.</p>
                  </li>
                </ol>
              </li>
              <%= groups %>
              <li>
                <ol>
                  <h2 id="About">About</h2>
                  <li>
                    <h3 id="Authors">Authors</h3>
                    <ul>
                      <li><a href="https://www.behance.net/leonavarro">Leonardo Navarro</a></li>
                      <li><a href="http://ro.ger.io">Rogério Yokomizo</a></li>
                      <li><a href="https://github.com/infodark">Vinícius Souza</a></li>
                    </ul>
                  </li>
                  <li>
                    <h3 id="Clients">Clients</h3>
                    <ul>
                      <li>Web: <a href="https://mosquito.report">https://mosquito.report</a> - <a href="https://github.com/coding4people/mosquito-report-www">source code</a></li>
                      <li>iOS: <a href="https://mosquito.report/ios">https://mosquito.report/ios</a> - <a href="https://github.com/coding4people/mosquito-report-ios">source code</a></li>
                      <li>Android: <a href="https://mosquito.report/android">https://mosquito.report/android</a> - <a href="https://github.com/coding4people/mosquito-report-droid">source code</a></li>
                    </ul>
                  </li>
                  <li>
                    <h3 id="License">License</h3>
                    <p>
                    Any person is free to copy, modify and sell all public data provided by the official API databases without any obligation. There is no warranty of any kind. All rights reserved on non public data as sensitive user data. The use of the data provided by the official API constitutes acceptance of the <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>.
                    </p>
                    </p>
                      The API source code is released under MIT license, which means you are allowed to use, modify and sell copies without restrictions. This software is provided without warranty of any kind. The full license can be found at <a href="https://raw.githubusercontent.com/coding4people/mosquito-report-api/master/LICENSE">https://raw.githubusercontent.com/coding4people/mosquito-report-api/master/LICENSE</a>.
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        footer stuf
      </div>
    </footer>
  </body>
</html>
