<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" media="all" href="style.css">
  </head>
  <body>
    <div class="main-description">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1>Main documentation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas facilisis fringilla magna, sed varius eros laoreet non. Donec non libero vehicula, sagittis metus eget, congue lectus. Aliquam erat volutpat. Nunc ex massa, placerat nec enim vel, mattis tincidunt eros.</p>
            <iframe src="https://ghbtns.com/github-btn.html?user=coding4people&repo=mosquito-report-api&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
          </div>
        </div>
      </div>
    </div>
    <section class="main">
      <div class="container">
        <h2>API</h2>
        <div class="row">
          <div class="col-md-4 index">
            <nav><%= menu %></nav>
          </div>
          <div class="col-md-8 groups">
            <p>Sed ex urna, mattis eget egestas quis, aliquet nec neque. Morbi congue interdum libero, quis convallis lectus commodo ac. Nam quis lacus nulla.</p>
            <ol>
              <%= groups %>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        footer stuf
      </div>
    </footer>
  </body>
</html>
