$brand-primary: #ff5349;

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background: #333;
}

pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.main {
  background: #fff;
  padding-bottom: 100px;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: #ccc;;
}

.main-description {
  margin-top: 15px;
  padding: 50px 0;
  background: $brand-primary;
  color: #fff;
}

.uri {
  background: $gray-dark;
  color: #fff;
}

h5 {
  margin-top: 30px;
  font-weight: bold;
}

@media (min-width: $screen-md-min) {
  .index {
    float: right;
  }
  .groups ol > li > ol > li {
    position: relative;
    padding-left: 50px;

    &:before {
      position: absolute;
      left: 0;
      top: 6px;
    }
  }
}

h3, h4 {
  display: inline-block;
}

.groups ol {
  counter-reset: item;
  padding-left: 0;

  & > li {
    display: block;

    .groups & + li {
      margin-top: 80px;
    }

    &:before {
      content: counters(item, ".") " ";
      counter-increment: item;
      font-size: $font-size-h3;
    }

    & > ol > li:before {
      font-size: $font-size-h4;
    }
  }
}

nav > ol  {
  padding: 0;
  color: $gray-lighter;

  a {
    color: $gray-light;
  }

  & > li > a {
    font-weight: bold;
  }

  @media (min-width: $screen-md-min) {
    padding: 0 0 0 30px;
  }

  ol {
    padding: 0 0 15px 7px;
    list-style: none;
    font-weight: normal;
  }
}
