$brand-primary: #ff5349;
$font-size-base: 14px;
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.25));
$font-size-h4: $font-size-base;

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


body {
  background: #333;
}

pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.main {
  background: #fff;
  padding-bottom: 100px;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: #ccc;;
}

.main-description {
  margin-top: 15px;
  padding: 50px 0;
  background: $brand-primary;
  color: #fff;
  a, a:hover, a:focus, a:visited {
    color: #fff;
    text-decoration: underline;
  }
}

.uri {
  background: $gray-dark;
  color: #fff;
}

h4 {
  margin-top: 30px;
  font-weight: bold;
}

@media (min-width: $screen-md-min) {
  .index {
    float: right;
  }
  .groups ol {
    counter-reset: item;

    & > li {
      position: relative;

      h2 {
        padding-left: 40px;
      }

      &:before {
        position: absolute;
        left: 0;
        top: 23px;
        content: counters(item, ".") " ";
        counter-increment: item;
        font-size: $font-size-h2 * 0.7;
        color: $gray-lighter;
      }

      & > ol > li {
        position: relative;
        padding-left: 40px;

        &:before {
          position: absolute;
          left: 0;
          top: 23px;
          font-size: $font-size-h3 * 0.7;
        }
      }
    }
  }
}

h2, h3 {
  display: inline-block;
}

.groups ol {
  padding-left: 0;

  & > li {
    display: block;

    .groups & + li {
      margin-top: 80px;
    }
  }
}

nav {
  margin-top: 40px;

  @media (min-width: $screen-md-min) {
    margin-top: 80px;
  }

  & > ol  {
    list-style: none;
    padding: 0;
    color: $gray-lighter;

    a {
      color: $gray-light;
    }

    & > li > a {
      font-weight: bold;
    }

    @media (min-width: $screen-md-min) {
      padding: 0 0 0 30px;
      list-style: decimal;
    }

    ol {
      list-style: none;
      padding: 0 0 15px;
      font-weight: normal;
    }
  }
}
